* {
    font-family: 'Quicksand';
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    text-align: center;
}
header {
    background-color: #f8f8f8;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
}
footer {
    background-color:#f8f8f8;
    padding: 1em;
    padding-bottom: 3em;
}
h2 {
    text-transform: uppercase;
}
.profile {
    width: 60%;
}

.main-nav {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0%;
    margin-left: 0%;
    text-align: center;
}

p {
   color: rgb(42, 42, 49);
}
.main-nav li {
    list-style: none;
    margin: 0.3em auto;
    background-color: white;
    padding: 1em;

}

.portfolio {
    margin-bottom: 50px;
    margin-top: 50px;
}
img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
a {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
    font-size: small;
}

.port {
    margin: 1em;
}

.wider-nav {
    display: none;
    
}

.small-text {
    text-transform: uppercase;
    font-size: small;
}

.bottom-name {
    float: left;
}

.back-to-top {
    float: right;
    text-transform: uppercase;
}

hr {
    margin-top: 4em;
    margin-bottom: 1.5em;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.top-name {
    font-size: 140%;
}


@media (min-width: 768px) {
    .back-to-top {
        display: none;
    }

    .wider-nav {
        display: inline;
        float: right;
    }

    .wider-nav li {
        float: left;
        list-style-type: none;
        margin-left: 15px;
        margin-right: 5px;
    }
    
    .wider-nav ul {
        margin: 0;
    }
    .main-nav {
        margin-bottom: 2em;
    }

    .main-nav li {
        background-color:#f8f8f8;
        display: inline;
    }

    .profile {
        float: right;
        width: 40%;
    }

    .profile-p {
        padding-top: 10%;
    }

    .port {
        float: right;
        width: 45%;
    }

}

@media (min-width: 1024px) {

    .port {
        width: 30%;
    }

    .top-name {
        float: left;
        display: inline;
        margin: 0;
        line-height: 1.5;
    }

    .main-nav {
        float: right;
    }



}