* {
    font-family: 'Quicksand';
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    text-align: center;
}
header {
    background-color: #f8f8f8;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
}
footer {
    background-color:#f8f8f8;
    padding: 1em;
    padding-bottom: 3em;
}
h2 {
    text-transform: uppercase;
}
.profile {
    width: 60%;
}

.main-nav {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0%;
    margin-left: 0%;
    text-align: center;
}

p {
   color: rgb(42, 42, 49);
}
.main-nav li {
    list-style: none;
    margin: 0.3em auto;
    background-color: white;
    padding: 1em;

}

.portfolio {
    margin-bottom: 50px;
}
img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
a {
    text-decoration: none;
}

.port {
    margin: 1em;
}

.wider-nav {
    display: none;

}

.bottom-name {
    float: left;
}

.back-to-top {
    float: right;
    text-transform: uppercase;
}

hr {
    margin-top: 4em;
    margin-bottom: 1.5em;
}

.small-text,
.small-text a {
    color: #252525;
    text-transform: uppercase;
    font-size: small;
    
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}








































@media (min-width: 768px) {
    .back-to-top {
        display: none;
    }

    .wider-nav {
        display: inline;
        float: right;
    }

    .wider-nav li {
        float: left;
    }

    .bottom-name {
        
    }

    .main-nav {
        margin-bottom: 2em;
    }

    .main-nav li {
        background-color:#f8f8f8;
        display: inline;
    }

    .profile {
        float: right;
    }

    .profile-p {
        padding-top: 15%;
    }

    .port {
        float: right;
        width: 45%;
    }
}